.banner {
    background-color:#333;
    margin: 0;
    padding-left:9%;
    padding-right:5%;
}
.banner img {
    width: 45px; 
    padding: 1%
}
.banner ul {
    list-style-type: none;
    display: inline; 
}
.banner li { 
    float: right;
    padding-right: 5%;
    padding-top:1.2em;  
}
.banner li a {
    font-variant: small-caps;
    font-size: x-large; 
    color: #f09; 
}
body {
    margin: 0;
    font-family: courier;
    background-image: url("./assets/topography.png");
}
.section {
    padding-left: 10%;
    padding-right: 10%;
}
h1{
    font-family:'Grandstander';
    font-size: 80px; 
    margin-bottom: 0px;
    margin-top: 100px;
} 
.job{
    font-family:'Grandstander';
    font-size: 50px;
    font-weight: bold;
    color:#f09; 
    margin-top: 50px;
    margin-bottom: 30px;
}
.aboutme{
    font-size: 30px; 
    font-weight: bold;
    margin-top: 20px;
    text-align: justify;
    line-height: 150%;
}
.spacer{
    font-size: 40px;
    text-align: center;
    padding: 60px;
}
.title {
    text-align: center; 
    font-size: 50px; 
    font-weight: bolder;
    margin-bottom: 80px;
}
.header {
    font-size: 40px; 
    font-weight: bolder;
    margin-bottom: auto;
    color: #333;
}
.text {
    font-size: 20px; 
    font-weight: bolder;
    line-height: 150%;
    text-align: justify;
    margin-top: 20px;
}

